html,
body {
    padding: 0;
    margin: 0;
    font-family: "Big Shoulders Display", cursive;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;
}

.swal2-container {
    z-index: 10000 !important;
}

* {
    box-sizing: border-box;
}
