@font-face {
    font-family: "hatten";
    src: url("/fonts/HATTEN.TTF");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", "hatten", "Big Shoulders Display", cursive;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #212529;
    color: #ffffff;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

a {
    color: inherit;
    text-decoration: none;
}

.swal2-container {
    z-index: 10000 !important;
}

* {
    box-sizing: border-box;
}

.info {
    color: #20c997;
}


.intro {
    align-items: center;
}

.heightIntro {
    height: 60%;
    width: auto;
}

.heightPropaganda {
    height: 50vh;
    width: 100%;
}

.carousel-color {
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    background-color: #212529;
    border-color: #20c997;
    text-align: center;
    height: 70vh;
    border-radius: 27px;
}

.botones {
    margin-top: 2em;
    color: #20c997;
    text-align: center;
    border-color: #20c997;
    background-color: #21252900;
}

.botones:hover {
    animation: wobbleud 0.5s linear infinite;
    background-color: #21252900;
    border-color: #20c997;
    color: #20c997;
}

@keyframes wobbleud {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    75% {
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

.titular {
    color: #20c997;
    padding-top: 2em;
    text-align: center;
}

.texto {
    text-align: left;
    padding-top: 1em;
    text-justify: auto;
}

.button {
    border-radius: 27px;
}

/* Footer */
footer .main-footer {
    padding: 20px 0;
    background: #212529;
}
footer ul {
    padding-left: 0;
    list-style: none;
}

/* Widgets  */
.widget li a {
    color: #20c997;
}
.widget .badge {
    float: right;
    background: #7f7f7f;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}
ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

/* TypeWritter */
.typing-demo {
    width: 22ch;
    animation: typing 2s, blink 0.5s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background: #212529;
}

body::-webkit-scrollbar-thumb {
    background-color: #20c997;
    border-radius: 20px;
    border: 3px solid 212529;
}

/* Formulario */

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

.form-control,
textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px "Lato", sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    .form-control,
    textarea {
        margin: 0 auto;
    }

    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}

/* NotFound */
.notFoundBackground {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1024' height='600' preserveAspectRatio='none' viewBox='0 0 1024 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1024' height='600' x='0' y='0' fill='rgba(33%2c 37%2c 41%2c 1)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)'%3e%3cpath d='M662.5 237.5L187.5 237.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M656.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 212.5L37.5 212.5L12.5 237.5L12.5 462.5L87.5 537.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M181.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M662.5 187.5L637.5 212.5L562.5 212.5L437.5 87.5L287.5 87.5L262.5 112.5L262.5 187.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M656.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M687.5 162.5L687.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M681.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM681.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M962.5 137.5L712.5 387.5L712.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M956.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM706.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M387.5 62.5L437.5 12.5L862.5 12.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M381.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM856.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M337.5 362.5L337.5 262.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M331.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M237.5 187.5L237.5 112.5L337.5 12.5L412.5 12.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M231.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM406.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M937.5 37.5L937.5 112.5L887.5 162.5L712.5 162.5L587.5 37.5L537.5 37.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M931.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M812.5 337.5L812.5 562.5L787.5 587.5L737.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M806.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM731.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M962.5 62.5L1012.5 62.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M956.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1006.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M787.5 87.5L912.5 87.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M781.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM906.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M712.5 187.5L887.5 187.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M706.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM881.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M87.5 362.5L312.5 587.5L412.5 587.5L562.5 437.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M81.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM556.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M537.5 562.5L512.5 587.5L437.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M531.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M62.5 562.5L162.5 562.5L212.5 512.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M56.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M562.5 512.5L662.5 512.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M556.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM656.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M862.5 487.5L862.5 262.5L1012.5 112.5L1012.5 87.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M856.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1006.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 162.5L187.5 187.5L212.5 212.5L362.5 212.5L437.5 137.5L437.5 112.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M181.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M487.5 487.5L362.5 362.5L362.5 262.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M481.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM356.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M962.5 537.5L887.5 462.5L887.5 262.5L1012.5 137.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M956.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1006.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M212.5 362.5L212.5 462.5L287.5 537.5L437.5 537.5L462.5 512.5L462.5 487.5L412.5 437.5L362.5 437.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M206.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM356.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M987.5 312.5L987.5 187.5L1012.5 162.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M981.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1006.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M787.5 387.5L737.5 387.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M781.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM731.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M87.5 412.5L112.5 412.5L187.5 487.5L187.5 512.5L162.5 537.5L112.5 537.5L37.5 462.5L37.5 287.5L62.5 262.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M81.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M87.5 312.5L312.5 312.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M81.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M1012.5 337.5L1012.5 387.5L937.5 462.5L912.5 462.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M1006.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM906.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M837.5 137.5L712.5 137.5L612.5 37.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M831.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM606.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M512.5 37.5L512.5 87.5L612.5 187.5L637.5 187.5L662.5 162.5L662.5 137.5L587.5 62.5L537.5 62.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M506.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 287.5L187.5 262.5L162.5 237.5L37.5 237.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M181.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM31.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M137.5 362.5L162.5 337.5L312.5 337.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M131.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M637.5 537.5L587.5 587.5L537.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M631.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M912.5 537.5L937.5 537.5L987.5 587.5L1012.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M906.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1006.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M37.5 187.5L12.5 162.5L12.5 12.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M31.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM6.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M162.5 137.5L162.5 187.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M156.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M37.5 62.5L87.5 12.5L212.5 12.5L262.5 62.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M31.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M587.5 362.5L537.5 312.5L387.5 312.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M581.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM381.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 362.5L187.5 437.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M181.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M912.5 587.5L887.5 562.5L837.5 562.5L812.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M906.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM806.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M537.5 212.5L462.5 137.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M531.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM456.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M62.5 162.5L87.5 137.5L87.5 112.5L112.5 87.5L237.5 87.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M56.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M462.5 87.5L487.5 112.5L512.5 112.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M456.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM506.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M112.5 487.5L87.5 487.5L62.5 462.5L62.5 287.5L87.5 262.5L162.5 262.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M106.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M987.5 512.5L987.5 537.5L1012.5 562.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M981.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1006.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 137.5L162.5 112.5L112.5 112.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M181.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM106.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M112.5 162.5L87.5 187.5L62.5 187.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M106.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M462.5 262.5L437.5 287.5L387.5 287.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M456.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM381.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M262.5 387.5L262.5 487.5L287.5 512.5L437.5 512.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M256.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M962.5 312.5L962.5 212.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M956.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM956.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M387.5 462.5L287.5 462.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M381.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM281.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M587.5 337.5L662.5 412.5L662.5 487.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M581.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM656.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M387.5 37.5L362.5 62.5L312.5 62.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M381.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M762.5 87.5L687.5 87.5L637.5 37.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M756.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM631.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M737.5 37.5L787.5 37.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M731.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM781.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M337.5 437.5L262.5 362.5L237.5 362.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M331.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M737.5 337.5L787.5 287.5L787.5 212.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M731.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM781.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M287.5 37.5L262.5 37.5L237.5 12.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M281.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M612.5 437.5L587.5 437.5L462.5 562.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M606.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM456.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M87.5 337.5L137.5 337.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M81.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM131.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 62.5L237.5 62.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M181.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M887.5 587.5L837.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M881.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM831.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M537.5 162.5L562.5 187.5L587.5 187.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M531.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM581.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M762.5 512.5L787.5 487.5L787.5 412.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M756.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM781.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M387.5 362.5L412.5 337.5L437.5 337.5L537.5 437.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M381.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M912.5 262.5L912.5 437.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M906.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM906.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M87.5 587.5L12.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M81.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM6.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M237.5 462.5L237.5 387.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M231.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M487.5 287.5L662.5 287.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M481.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM656.25 287.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M437.5 362.5L437.5 412.5L487.5 462.5L512.5 462.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M431.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM506.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M462.5 162.5L412.5 212.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M456.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM406.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M1012.5 237.5L1012.5 312.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M1006.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1006.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M837.5 487.5L837.5 512.5L862.5 537.5L887.5 537.5L912.5 512.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M831.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM906.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M187.5 562.5L162.5 587.5L137.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M181.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM131.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M312.5 162.5L312.5 112.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M306.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M762.5 262.5L712.5 262.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M756.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM706.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M337.5 487.5L437.5 487.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M331.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM431.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M937.5 437.5L937.5 237.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M931.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM931.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M12.5 512.5L37.5 537.5L62.5 537.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M6.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M537.5 362.5L487.5 362.5L462.5 337.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M531.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM456.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M1012.5 12.5L887.5 12.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M1006.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM881.25 12.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M337.5 412.5L387.5 412.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M331.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM381.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M112.5 187.5L137.5 162.5L137.5 137.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M106.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM131.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M737.5 437.5L737.5 512.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M731.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM731.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M662.5 262.5L487.5 262.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M656.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM481.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M887.5 112.5L712.5 112.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M881.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM706.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M1012.5 537.5L1012.5 487.5L987.5 462.5L987.5 437.5L1012.5 412.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M1006.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1006.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M662.5 562.5L637.5 587.5L612.5 587.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M656.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM606.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M762.5 412.5L762.5 487.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M756.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM756.25 487.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M837.5 387.5L837.5 462.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M831.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM831.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M162.5 37.5L87.5 37.5L37.5 87.5L37.5 112.5L62.5 137.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M156.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M337.5 162.5L312.5 187.5L287.5 187.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M331.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM281.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M562.5 412.5L562.5 362.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M556.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM556.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M662.5 37.5L712.5 37.5L737.5 62.5L787.5 62.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M656.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM781.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M587.5 562.5L537.5 512.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M581.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 512.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M162.5 62.5L87.5 62.5L62.5 87.5L62.5 112.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M156.25 62.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M662.5 312.5L637.5 337.5L612.5 337.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M656.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM606.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M612.5 387.5L637.5 412.5L637.5 437.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M606.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM631.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M412.5 137.5L362.5 187.5L337.5 187.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M406.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M487.5 87.5L487.5 37.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M481.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM481.25 37.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M712.5 312.5L712.5 362.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M706.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM706.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M237.5 587.5L212.5 562.5L212.5 537.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M231.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M987.5 387.5L987.5 337.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M981.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM981.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M487.5 562.5L512.5 537.5L537.5 537.5' stroke-width='4.17' stroke='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3cpath d='M481.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM531.25 537.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='rgba(32%2c 201%2c 151%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1024' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1024' height='600' fill='white'%3e%3c/rect%3e%3cpath d='M659.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M184.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M659.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M684.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM684.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M959.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM709.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M384.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM859.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M334.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M234.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM409.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M934.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M809.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM734.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M959.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM1009.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M784.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM909.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M709.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM884.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM559.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M534.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M59.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M559.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM659.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M859.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM1009.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M184.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M484.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM359.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M959.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM1009.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M209.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM359.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M984.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM1009.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M784.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM734.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M1009.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM909.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M834.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM609.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M509.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M184.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM34.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M134.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M634.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M909.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM1009.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M34.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM9.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M159.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M34.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M584.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM384.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M184.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M909.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM809.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M534.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM459.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M59.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M459.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM509.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M109.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M984.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM1009.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M184.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM109.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M109.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M459.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM384.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M959.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM959.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M384.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM284.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M584.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM659.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M384.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M759.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM634.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M734.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM784.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M334.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M734.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM784.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M284.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M609.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM459.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM134.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M184.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M884.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM834.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M534.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM584.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M759.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM784.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M384.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M909.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM909.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM9.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M234.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M484.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM659.37 287.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M434.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM509.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M459.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM409.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M1009.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM1009.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M834.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM909.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M184.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM134.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M309.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M759.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM709.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M334.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM434.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M934.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM934.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M9.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M534.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM459.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M1009.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM884.37 12.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M334.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM384.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M109.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM134.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M734.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM734.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M659.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM484.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M884.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM709.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M1009.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM1009.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M659.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM609.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M759.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM759.37 487.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M834.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM834.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M159.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M334.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM284.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M559.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM559.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M659.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM784.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M584.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 512.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M159.37 62.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M659.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM609.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M609.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM634.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M409.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M484.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM484.37 37.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M709.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM709.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M234.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M984.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM984.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M484.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM534.37 537.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.divNotFound {
    animation: glitch 1s linear infinite;
    width: 95%;
}

@keyframes glitch {
    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

@keyframes glitchTop {
    2%,
    64% {
        transform: translate(2px, -2px);
    }
    4%,
    60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

@keyframes glitchBotom {
    2%,
    64% {
        transform: translate(-2px, 0);
    }
    4%,
    60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

/* Login */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #20c997;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #102770;
    content: "\eb4f";
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}
.checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}
.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: #272d33;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}
.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
